.h4{
    color:#333333;
    font-size:33px;
    line-height:32px;
    border-bottom: rgb(253, 144, 162) solid;
    border-width: 12px;
    width:17%;
    margin:auto;
    font-style: italic;
    text-shadow: 1.5px 1.5px rgb(253, 144, 162);
    margin-top: 50px;
    margin-bottom: 10px;
}
#video{
    width:100%;
}